<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>CounterButtonComponent</title>
</head>
<body>

<div id="app">
<!--  <p><counter-button v-model="count1"></counter-button> - count = {{ count1 }}</p>-->
<!--  <p><counter-button v-model="count2"></counter-button> - count = {{ count2 }}</p>-->
<!--  <p><counter-button :count="count3" @increment="count3 = $event"></counter-button> - count = {{ count3 }}</p>]-->
</div>

<script type="module" src="./script.js"></script>
</body>
</html>
