<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>MeetupTitle</title>
  <style>
    ul {
      list-style: none;
    }
    .container {
      display: flex;
    }
  </style>
</head>
<body>
<div id="app">
  <!-- Решение -->
  <template v-if="rawMeetup">
    <div class="container">
      <label v-for=" index in 5">
        <input name="radiolist" type="radio"/>
        <span>{{index}}</span>
      </label>
    </div>
    <hr>
    <span>{{ meetup.idMeetup }}</span>
    <br>
    <span>{{ meetup.title }}</span>
    <br>
  </template>
</div>
<script type="module" src="script.js "></script>
</body>
</html>
